celibattante_o_auth:
    resource: "@CelibattanteOAuthBundle/Controller/"
    type:     annotation
    prefix:   /

challenge:
    resource: "@ChallengeBundle/Controller/"
    type:     annotation
    prefix:   /

user:
    resource: "@FOSUserBundle/Controller/"
    type:     annotation
    prefix:   /

# app/config/routing.yml
fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile

fos_oauth_server_token:
    resource: "@FOSOAuthServerBundle/Resources/config/routing/token.xml"

fos_oauth_server_authorize:
    resource: "@FOSOAuthServerBundle/Resources/config/routing/authorize.xml"

celibattante_oauth_server_auth_login:
        pattern:  /oauth/v2/auth_login
        defaults: { _controller: CelibattanteOAuthBundle:Security:login }

celibattante_oauth_server_auth_login_check:
        pattern:  /oauth/v2/auth_login_check
        defaults: { _controller: CelibattanteOAuthBundle:Security:loginCheck }


rest :
  type : rest
  resource : "routing_rest.yml"
  prefix : /api